
# API Practice - Paired Lab

## Introduction

For some further practice with APIs (and with SQL!), we're going to work on a single big lab to apply what we've learned in Module 1!

![](https://media.tenor.com/images/faa7904870d4661b3f077f1c49fbbb46/tenor.gif)

## The Goal

Start by examining the data dictionary for the SQL database we'll be working with, which comes from this [kaggle page](https://www.kaggle.com/laudanum/footballdelphi). Familiarize yourself with the tables it contains, and what each column means. We'll be using this database to get data on each soccer team and calculate some summary statistics. 

Unlike previous labs, this lab is more open-ended. At minimum, you'll need to:

* Query the SQL database
* Calculate summary statistics
* Get the weather data from the DarkSky API

Upon completion of this lab, you should be able to see/access the following information:

* The name of the team
* The total number of goals scored by the team during the 2011 season
* The total number of wins the team earned during the 2011 season
* The team's win percentage on days where it was raining (in Berlin) during games in the 2011 season. 

![](https://media.giphy.com/media/4TkcwHdT1LSLw2rrEN/giphy.gif)

## The Data

You'll find a database containing information about soccer teams and the matches they've played in the file `database.sqlite`. 

### Getting the Weather Data

You'll need to figure out if it was raining or not during the game. The database itself does not contain this information, but it does contain the date on which the game was played. For this, you'll need to use the [DarkSky API](https://darksky.net/dev) to get the historical weather data for that day. 

Note that each game is played in a different location, and this information is not contained in our SQL database. However, the teams in this database are largely German, so go ahead and just use the weather in Berlin, Germany as a proxy for this information. If it was raining in Berlin on the day the game was played, count that as rain game-- **_you do not need to try and figure out the actual weather at each game's location, because we don't have that information!_**

#### NOTE: The DarkSky API is limited to 1000 free API calls a day, so be sure to test your model on very small samples. Otherwise, you'll hit the rate limit!

### Some Advice

This is a paired afternoon lab, meant to take just one afternoon. You may run out of time, and that's okay! But do make sure to comment your code *while you're writing it* in case you don't have time today and want to go back later.

ALSO: It's okay to use external tools to make your life easier -- that's what they're for! Using tools like the [DB Browser for SQLite](https://sqlitebrowser.org/) to visualize and interact with your SQL database, or [Postman](https://www.getpostman.com/) to test your API query, is one aspect of working smarter (not harder)! 

![](https://media2.giphy.com/media/11F0d3IVhQbreE/giphy.gif)

In [1]:
import sqlite3
conn = sqlite3.connect('database.sqlite')
cur = conn.cursor()

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [3]:
matches_df = pd.DataFrame(cur.execute('''SELECT * FROM Matches''').fetchall())
matches_df.columns = [x[0] for x in cur.description]
matches_df.head()

,Match_ID,Div,Season,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR
0,1,D2,2009,2010-04-04,Oberhausen,Kaiserslautern,2,1,H
1,2,D2,2009,2009-11-01,Munich 1860,Kaiserslautern,0,1,A
2,3,D2,2009,2009-10-04,Frankfurt FSV,Kaiserslautern,1,1,D
3,4,D2,2009,2010-02-21,Frankfurt FSV,Karlsruhe,2,1,H
4,5,D2,2009,2009-12-06,Ahlen,Karlsruhe,1,3,A

In [4]:
matches_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24625 entries, 0 to 24624
Data columns (total 9 columns):
Match_ID    24625 non-null int64
Div         24625 non-null object
Season      24625 non-null int64
Date        24625 non-null object
HomeTeam    24625 non-null object
AwayTeam    24625 non-null object
FTHG        24625 non-null int64
FTAG        24625 non-null int64
FTR         24625 non-null object
dtypes: int64(4), object(5)
memory usage: 1.7+ MB

In [5]:
matches_df.describe()

           Match_ID        Season          FTHG          FTAG
count  24625.000000  24625.000000  24625.000000  24625.000000
mean   27335.103228   2004.698761      1.517036      1.097503
std    16631.846062      7.166931      1.359471      1.163510
min        1.000000   1993.000000     -1.000000     -1.000000
25%     6157.000000   1998.000000      1.000000      0.000000
50%    34460.000000   2005.000000      1.000000      1.000000
75%    40618.000000   2011.000000      2.000000      2.000000
max    46774.000000   2017.000000      9.000000      9.000000

In [6]:
matches_df.groupby('Season').count()

        Match_ID   Div  Date  HomeTeam  AwayTeam  FTHG  FTAG   FTR
Season
1993        1148  1148  1148      1148      1148  1148  1148  1148
1994        1074  1074  1074      1074      1074  1074  1074  1074
1995         992   992   992       992       992   992   992   992
1996         992   992   992       992       992   992   992   992
1997         992   992   992       992       992   992   992   992
1998         992   992   992       992       992   992   992   992
1999         992   992   992       992       992   992   992   992
2000         992   992   992       992       992   992   992   992
2001         992   992   992       992       992   992   992   992
2002         992   992   992       992       992   992   992   992
2003         992   992   992       992       992   992   992   992
2004         992   992   992       992       992   992   992   992
2005         992   992   992       992       992   992   992   992
2006         992   992   992       992       992   992   992   992
2007         977   977   977       977       977   977   977   977
2008         974   974   974       974       974   974   974   974
2009         992   992   992       992       992   992   992   992
2010         992   992   992       992       992   992   992   992
2011         992   992   992       992       992   992   992   992
2012         992   992   992       992       992   992   992   992
2013         992   992   992       992       992   992   992   992
2014         992   992   992       992       992   992   992   992
2015         992   992   992       992       992   992   992   992
2016         992   992   992       992       992   992   992   992
2017         612   612   612       612       612   612   612   612

In [7]:
teams_df = pd.DataFrame(cur.execute('''SELECT * FROM Teams''').fetchall())
teams_df.columns = [x[0] for x in cur.description]
teams_df.head()

,Season,TeamName,KaderHome,AvgAgeHome,ForeignPlayersHome,OverallMarketValueHome,AvgMarketValueHome,StadiumCapacity
0,2017,Bayern Munich,27,26,15,597950000,22150000,75000
1,2017,Dortmund,33,25,18,416730000,12630000,81359
2,2017,Leverkusen,31,24,15,222600000,7180000,30210
3,2017,RB Leipzig,30,23,15,180130000,6000000,42959
4,2017,Schalke 04,29,24,17,179550000,6190000,62271

In [8]:
teams_df.groupby('Season').count()

,TeamName,KaderHome,AvgAgeHome,ForeignPlayersHome,OverallMarketValueHome,AvgMarketValueHome,StadiumCapacity
Season,,,,,,,
2005,36,36,36,36,36,36,36
2006,36,36,36,36,36,36,36
2007,36,36,36,36,36,36,36
2008,36,36,36,36,36,36,36
2009,36,36,36,36,36,36,36
2010,36,36,36,36,36,36,36
2011,36,36,36,36,36,36,36
2012,36,36,36,36,36,36,36
2013,36,36,36,36,36,36,36
2014,36,36,36,36,36,36,36
2015,36,36,36,36,36,36,36
2016,36,36,36,36,36,36,36
2017,36,36,36,36,36,36,36

In [9]:
teams_in_matches_df = pd.DataFrame(cur.execute('''SELECT * FROM Teams_in_Matches''').fetchall())
teams_in_matches_df.columns = [x[0] for x in cur.description]
teams_in_matches_df.head()

   Match_ID  Unique_Team_ID
0         1              26
1         1              46
2         2              26
3         2              42
4         3              26

In [10]:
unique_teams_df = pd.DataFrame(cur.execute('''SELECT * FROM Unique_Teams''').fetchall())
unique_teams_df.columns = [x[0] for x in cur.description]
unique_teams_df.head()

        TeamName  Unique_Team_ID
0  Bayern Munich               1
1       Dortmund               2
2     Leverkusen               3
3     RB Leipzig               4
4     Schalke 04               5

In [11]:
unique_teams_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 128 entries, 0 to 127
Data columns (total 2 columns):
TeamName          128 non-null object
Unique_Team_ID    128 non-null int64
dtypes: int64(1), object(1)
memory usage: 2.1+ KB

In [12]:
unique_teams_df

          TeamName  Unique_Team_ID
0    Bayern Munich               1
1         Dortmund               2
2       Leverkusen               3
3       RB Leipzig               4
4       Schalke 04               5
..             ...             ...
123        Burnley             124
124      Blackpool             125
125        Swansea             126
126        Cardiff             127
127    Bournemouth             128

[128 rows x 2 columns]

In [13]:
matches_df_2011 = matches_df[matches_df['Season'] == 2011]
matches_df_2011.head()

,Match_ID,Div,Season,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR
1091,1092,D1,2011,2012-03-31,Nurnberg,Bayern Munich,0,1,A
1092,1093,D1,2011,2011-12-11,Stuttgart,Bayern Munich,1,2,A
1093,1094,D1,2011,2011-08-13,Wolfsburg,Bayern Munich,0,1,A
1094,1095,D1,2011,2011-11-27,Mainz,Bayern Munich,3,2,H
1095,1096,D1,2011,2012-02-18,Freiburg,Bayern Munich,0,0,D

In [14]:
matches_df_2011.head()

,Match_ID,Div,Season,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR
1091,1092,D1,2011,2012-03-31,Nurnberg,Bayern Munich,0,1,A
1092,1093,D1,2011,2011-12-11,Stuttgart,Bayern Munich,1,2,A
1093,1094,D1,2011,2011-08-13,Wolfsburg,Bayern Munich,0,1,A
1094,1095,D1,2011,2011-11-27,Mainz,Bayern Munich,3,2,H
1095,1096,D1,2011,2012-02-18,Freiburg,Bayern Munich,0,0,D

In [15]:
matches_df_2011['Winner'] = matches_df_2011.apply(lambda x: x['FTR'] )

KeyError: ('FTR', 'occurred at index Match_ID')

In [ ]:
for index, match in matches_df_2011.iterrows():
    if match['FTHG'] > match['FTAG']:
        match['Winner'] = 'Home'
    elif match['FTHG'] < match['FTAG']:
        match['Winner'] = 'Away'
    else:
        match['Winner'] = 'Tie'

In [16]:
matches_df_2011.head()

,Match_ID,Div,Season,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR
1091,1092,D1,2011,2012-03-31,Nurnberg,Bayern Munich,0,1,A
1092,1093,D1,2011,2011-12-11,Stuttgart,Bayern Munich,1,2,A
1093,1094,D1,2011,2011-08-13,Wolfsburg,Bayern Munich,0,1,A
1094,1095,D1,2011,2011-11-27,Mainz,Bayern Munich,3,2,H
1095,1096,D1,2011,2012-02-18,Freiburg,Bayern Munich,0,0,D

In [17]:
wld_2011 =  matches_df_2011.groupby(['HomeTeam','FTR'])['Match_ID'].count()

In [18]:
len(wld_2011)

166

In [19]:
166*3

498

In [20]:
wld_2011.head(20)

HomeTeam       FTR
Aachen         A       7
               D       6
               H       4
Arsenal        A       3
               D       4
               H      12
Aston Villa    A       8
               D       7
               H       4
Augsburg       A       4
               D       7
               H       6
Bayern Munich  A       2
               D       1
               H      14
Blackburn      A      12
               D       1
               H       6
Bochum         A       7
               D       3
Name: Match_ID, dtype: int64

In [21]:
wld_2011[2]

4

In [22]:
teams_list = sorted(list(matches_df_2011['HomeTeam'].unique()))

In [24]:
len(teams_list)

56

In [25]:
56*3 + 3

171

In [26]:
wld_2011.drop(labels = ['A', 'D'], level = 1)

HomeTeam            FTR
Aachen              H       4
Arsenal             H      12
Aston Villa         H       4
Augsburg            H       6
Bayern Munich       H      14
Blackburn           H       6
Bochum              H       7
Bolton              H       4
Braunschweig        H       6
Chelsea             H      12
Cottbus             H       4
Dortmund            H      14
Dresden             H       8
Duisburg            H       8
Ein Frankfurt       H      11
Erzgebirge Aue      H       5
Everton             H      10
FC Koln             H       5
Fortuna Dusseldorf  H      11
Frankfurt FSV       H       3
Freiburg            H       6
Fulham              H      10
Greuther Furth      H      14
Hamburg             H       3
Hannover            H      10
Hansa Rostock       H       3
Hertha              H       4
Hoffenheim          H       4
Ingolstadt          H       6
Kaiserslautern      H       2
Karlsruhe           H       8
Leverkusen          H       8
Liverpool           H       6
M'gladbach          H       9
Mainz               H       7
Man City            H      18
Man United          H      15
Munich 1860         H      10
Newcastle           H      11
Norwich             H       7
Nurnberg            H       6
Paderborn           H       9
QPR                 H       7
Schalke 04          H      13
St Pauli            H      12
Stoke               H       7
Stuttgart           H      10
Sunderland          H       7
Swansea             H       8
Tottenham           H      13
Union Berlin        H      11
Werder Bremen       H       8
West Brom           H       6
Wigan               H       5
Wolfsburg           H      10
Wolves              H       3
Name: Match_ID, dtype: int64

In [29]:
wld_2011_home = wld_2011.drop(labels = ['A', 'D'], level = 1)

In [60]:
type(wld_2011_home)

pandas.core.frame.DataFrame

In [30]:
wld_2011_home

HomeTeam            FTR
Aachen              H       4
Arsenal             H      12
Aston Villa         H       4
Augsburg            H       6
Bayern Munich       H      14
Blackburn           H       6
Bochum              H       7
Bolton              H       4
Braunschweig        H       6
Chelsea             H      12
Cottbus             H       4
Dortmund            H      14
Dresden             H       8
Duisburg            H       8
Ein Frankfurt       H      11
Erzgebirge Aue      H       5
Everton             H      10
FC Koln             H       5
Fortuna Dusseldorf  H      11
Frankfurt FSV       H       3
Freiburg            H       6
Fulham              H      10
Greuther Furth      H      14
Hamburg             H       3
Hannover            H      10
Hansa Rostock       H       3
Hertha              H       4
Hoffenheim          H       4
Ingolstadt          H       6
Kaiserslautern      H       2
Karlsruhe           H       8
Leverkusen          H       8
Liverpool           H       6
M'gladbach          H       9
Mainz               H       7
Man City            H      18
Man United          H      15
Munich 1860         H      10
Newcastle           H      11
Norwich             H       7
Nurnberg            H       6
Paderborn           H       9
QPR                 H       7
Schalke 04          H      13
St Pauli            H      12
Stoke               H       7
Stuttgart           H      10
Sunderland          H       7
Swansea             H       8
Tottenham           H      13
Union Berlin        H      11
Werder Bremen       H       8
West Brom           H       6
Wigan               H       5
Wolfsburg           H      10
Wolves              H       3
Name: Match_ID, dtype: int64

In [35]:
wld_2011_away =  matches_df_2011.groupby(['HomeTeam','FTR'])['Match_ID'].count()

In [36]:
wld_2011_away

HomeTeam   FTR
Aachen     A       7
           D       6
           H       4
Arsenal    A       3
           D       4
                  ..
Wolfsburg  D       2
           H      10
Wolves     A      13
           D       3
           H       3
Name: Match_ID, Length: 166, dtype: int64

In [37]:
wld_2011_away = wld_2011.drop(labels = ['H', 'D'], level = 1)

In [52]:
wld_2011_home = wld_2011_home.reset_index()

In [53]:
wld_2011_away = wld_2011_away.reset_index()

In [54]:
wld_2011_away

              HomeTeam FTR  Match_ID
0               Aachen   A         7
1              Arsenal   A         3
2          Aston Villa   A         8
3             Augsburg   A         4
4        Bayern Munich   A         2
5            Blackburn   A        12
6               Bochum   A         7
7               Bolton   A        11
8         Braunschweig   A         3
9              Chelsea   A         4
10             Cottbus   A         5
11            Dortmund   A         1
12             Dresden   A         4
13            Duisburg   A         7
14       Ein Frankfurt   A         1
15      Erzgebirge Aue   A         5
16             Everton   A         6
17             FC Koln   A         8
18  Fortuna Dusseldorf   A         1
19       Frankfurt FSV   A         4
20            Freiburg   A         5
21              Fulham   A         4
22      Greuther Furth   A         2
23             Hamburg   A         7
24       Hansa Rostock   A         7
25              Hertha   A        10
26          Hoffenheim   A         4
27          Ingolstadt   A         3
28      Kaiserslautern   A        10
29           Karlsruhe   A         6
30          Leverkusen   A         5
31           Liverpool   A         4
32          M'gladbach   A         1
33               Mainz   A         7
34          Man United   A         2
35         Munich 1860   A         5
36           Newcastle   A         3
37             Norwich   A         6
38            Nurnberg   A         7
39           Paderborn   A         2
40                 QPR   A         7
41          Schalke 04   A         3
42            St Pauli   A         2
43               Stoke   A         4
44           Stuttgart   A         4
45          Sunderland   A         5
46             Swansea   A         4
47           Tottenham   A         3
48        Union Berlin   A         4
49       Werder Bremen   A         5
50           West Brom   A        10
51               Wigan   A         7
52           Wolfsburg   A         5
53              Wolves   A        13

In [55]:
wld_2011_home

              HomeTeam FTR  Match_ID
0               Aachen   H         4
1              Arsenal   H        12
2          Aston Villa   H         4
3             Augsburg   H         6
4        Bayern Munich   H        14
5            Blackburn   H         6
6               Bochum   H         7
7               Bolton   H         4
8         Braunschweig   H         6
9              Chelsea   H        12
10             Cottbus   H         4
11            Dortmund   H        14
12             Dresden   H         8
13            Duisburg   H         8
14       Ein Frankfurt   H        11
15      Erzgebirge Aue   H         5
16             Everton   H        10
17             FC Koln   H         5
18  Fortuna Dusseldorf   H        11
19       Frankfurt FSV   H         3
20            Freiburg   H         6
21              Fulham   H        10
22      Greuther Furth   H        14
23             Hamburg   H         3
24            Hannover   H        10
25       Hansa Rostock   H         3
26              Hertha   H         4
27          Hoffenheim   H         4
28          Ingolstadt   H         6
29      Kaiserslautern   H         2
30           Karlsruhe   H         8
31          Leverkusen   H         8
32           Liverpool   H         6
33          M'gladbach   H         9
34               Mainz   H         7
35            Man City   H        18
36          Man United   H        15
37         Munich 1860   H        10
38           Newcastle   H        11
39             Norwich   H         7
40            Nurnberg   H         6
41           Paderborn   H         9
42                 QPR   H         7
43          Schalke 04   H        13
44            St Pauli   H        12
45               Stoke   H         7
46           Stuttgart   H        10
47          Sunderland   H         7
48             Swansea   H         8
49           Tottenham   H        13
50        Union Berlin   H        11
51       Werder Bremen   H         8
52           West Brom   H         6
53               Wigan   H         5
54           Wolfsburg   H        10
55              Wolves   H         3

In [56]:
all_wins_df = pd.merge(

In [57]:
all_wins_df.head()

   key_0     HomeTeam_x FTR_x  Match_ID_x     HomeTeam_y FTR_y  Match_ID_y
0      0         Aachen     H           4         Aachen     A           7
1      1        Arsenal     H          12        Arsenal     A           3
2      2    Aston Villa     H           4    Aston Villa     A           8
3      3       Augsburg     H           6       Augsburg     A           4
4      4  Bayern Munich     H          14  Bayern Munich     A           2

In [58]:
all_wins_df['Wins'] = all_wins_df['Match_ID_x'] + all_wins_df['Match_ID_y']

In [59]:
all_wins_df

,key_0,HomeTeam_x,FTR_x,Match_ID_x,HomeTeam_y,FTR_y,Match_ID_y,Wins
0,0,Aachen,H,4,Aachen,A,7,11
1,1,Arsenal,H,12,Arsenal,A,3,15
2,2,Aston Villa,H,4,Aston Villa,A,8,12
3,3,Augsburg,H,6,Augsburg,A,4,10
4,4,Bayern Munich,H,14,Bayern Munich,A,2,16
5,5,Blackburn,H,6,Blackburn,A,12,18
6,6,Bochum,H,7,Bochum,A,7,14
7,7,Bolton,H,4,Bolton,A,11,15
8,8,Braunschweig,H,6,Braunschweig,A,3,9
9,9,Chelsea,H,12,Chelsea,A,4,16
10,10,Cottbus,H,4,Cottbus,A,5,9
11,11,Dortmund,H,14,Dortmund,A,1,15
12,12,Dresden,H,8,Dresden,A,4,12
13,13,Duisburg,H,8,Duisburg,A,7,15
14,14,Ein Frankfurt,H,11,Ein Frankfurt,A,1,12
15,15,Erzgebirge Aue,H,5,Erzgebirge Aue,A,5,10
16,16,Everton,H,10,Everton,A,6,16
17,17,FC Koln,H,5,FC Koln,A,8,13
18,18,Fortuna Dusseldorf,H,11,Fortuna Dusseldorf,A,1,12
19,19,Frankfurt FSV,H,3,Frankfurt FSV,A,4,7
20,20,Freiburg,H,6,Freiburg,A,5,11
21,21,Fulham,H,10,Fulham,A,4,14
22,22,Greuther Furth,H,14,Greuther Furth,A,2,16
23,23,Hamburg,H,3,Hamburg,A,7,10
24,24,Hannover,H,10,Hansa Rostock,A,7,17
25,25,Hansa Rostock,H,3,Hertha,A,10,13
26,26,Hertha,H,4,Hoffenheim,A,4,8
27,27,Hoffenheim,H,4,Ingolstadt,A,3,7
28,28,Ingolstadt,H,6,Kaiserslautern,A,10,16
29,29,Kaiserslautern,H,2,Karlsruhe,A,6,8
30,30,Karlsruhe,H,8,Leverkusen,A,5,13
31,31,Leverkusen,H,8,Liverpool,A,4,12
32,32,Liverpool,H,6,M'gladbach,A,1,7
33,33,M'gladbach,H,9,Mainz,A,7,16
34,34,Mainz,H,7,Man United,A,2,9
35,35,Man City,H,18,Munich 1860,A,5,23
36,36,Man United,H,15,Newcastle,A,3,18
37,37,Munich 1860,H,10,Norwich,A,6,16
38,38,Newcastle,H,11,Nurnberg,A,7,18
39,39,Norwich,H,7,Paderborn,A,2,9
40,40,Nurnberg,H,6,QPR,A,7,13
41,41,Paderborn,H,9,Schalke 04,A,3,12
42,42,QPR,H,7,St Pauli,A,2,9
43,43,Schalke 04,H,13,Stoke,A,4,17
44,44,St Pauli,H,12,Stuttgart,A,4,16
45,45,Stoke,H,7,Sunderland,A,5,12
46,46,Stuttgart,H,10,Swansea,A,4,14
47,47,Sunderland,H,7,Tottenham,A,3,10
48,48,Swansea,H,8,Union Berlin,A,4,12
49,49,Tottenham,H,13,Werder Bremen,A,5,18
50,50,Union Berlin,H,11,West Brom,A,10,21
51,51,Werder Bremen,H,8,Wigan,A,7,15
52,52,West Brom,H,6,Wolfsburg,A,5,11
53,53,Wigan,H,5,Wolves,A,13,18